body {
  margin: 10px;
  padding: 10px;
  font-family: Helvetica;
}

h3 {
  padding: 5px 0;
}
p {
  font-size: 18px;
  line-height: 20px;
}

li {
  font-size: 14px;
}

#btn {
  margin: 5px 0 15px 18px;
  padding: 5px 20px;
}
.group {
  padding: 10px;
  margin: 5px 10px;
}

.pic {

  background-size: contain;
  background-position: center;
  repeat: no-repeat;
  margin: 20px;
}

#stressHTML {
  background: url(img/checkbox_html.png);

}

#vowel-html {
  background: url(img/vowel-string-html.png);
  width: 800px;
  height: 350px;
}

#vowel-js {
  background: url(img/vowel-string-jquery.png);
  width: 800px;
  height: 350px;
}

#leap-html {
  background: url(img/leap-html.png);
  width: 800px;
  height: 350px;
}

#leap-js {
  background: url(img/leap-js.png);
  width: 800px;
  height: 350px;
}
