body {
  margin: 0;
  padding: 0;
  font-family: Helvetica;
}

p {
  font-size: 14px;
  line-height: 1em;
}

li {
  font-size: 12px;
}

#btn {
  margin: 5px 0 15px 18px;
  padding: 5px 20px;
}
.group {
  padding: 10px;
  margin: 5px 10px;
}
